{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Processing Order</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Enter your payment info</p>
                </div>
            </div>
        </header>
        <br/>
        <div class ="container">
            <div class ="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
  <div class="card-header">
    Order Summary
  </div>
  <div class="card-body">
    {% for product in cart_products %}
    {{product.name}}
    ${{ product.price }}
     <br/><br/>
    <small>Quantitiy:
    {% for key, value in quantities.items %}
            {% if key == product.id|slugify %}
                {{ value }}
    {% endfor %}</small>


 <br/><br/>
    {% endif %}
    {% endfor %}
     <br/><br/>
     Total: ${{ totals }}
      <br/><br/>
      <a href="{% url 'cart_summary'%}" class="btn btn-sm btn-outline-secondary">Update Items</a>
  </div>
    </div>
 <br/><br/> <br/><br/>
   <!-- Shipping Info Form -->
<div class="card">
  <div class="card-header">Shipping Info</div>
  <div class="card-body">
    <form method="POST" action="{% url 'billing_info' %}">
      {% csrf_token %}
      Name: {{ shipping_form.shipping_full_name }} <br/>
      Email: {{ shipping_form.shipping_email }} <br/>
      Address1: {{ shipping_form.shipping_address1 }} <br/>
      Address2: {{ shipping_form.shipping_address2 }} <br/>
      City: {{ shipping_form.shipping_city }} <br/>
      Zipcode: {{ shipping_form.shipping_zipcode }} <br/>
      Country: {{ shipping_form.shipping_country }} <br/><br/>
      <button type="submit" class="btn btn-outline-secondary">Update Shipping</button>
    </form>
  </div>
</div>

<!-- Billing Info Form -->
<div class="card">
  <div class="card-header">Billing Info</div>
  <div class="card-body">
    <form method="POST" action="{% url 'process_order' %}">
      {% csrf_token %}
      {{ billing_form.as_p }}
      <br/><br/>
      <button type="submit" class="btn btn-secondary">Pay Now</button>
    </form>
  </div>
</div>

                </div>
            </div>
        </div>
        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
         {% endblock %}
